@mixin bold-text {
  font: {
    family: "OpenSans", "Arial", sans-serif;
    weight: 700;
  }
}

@mixin basic-text {
  font: {
    family: "OpenSans", "Arial", sans-serif;
    weight: 400;
    size: 15px;
  }
  color: $text-color;
}


@mixin basic-text--small {
  font: {
    family: "OpenSans", "Arial", sans-serif;
    weight: 400;
    size: 13px;
  }
  color: $text-color;
  line-height: 24px;
}

@mixin list-norm {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin small-title {
  font: {
    family: "OpenSans", "Arial", sans-serif;
    weight: 700;
    size: 25px;
  }
  line-height: 30px;
  color: $text-dark;
}

@mixin tablet-title {
  font: {
    family: "OpenSans", "Arial", sans-serif;
    weight: 700;
    size: 43px;
  }
  line-height: 50px;
  color: $text-dark;
}

@mixin container {
  width: auto;
  max-width: 767px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@mixin container--tablet {
  width: auto;
  max-width: 1149px;
  padding-left: 50px;
  padding-right: 51px;
  margin: 0 auto;
}

@mixin container--desktop {
  width: auto;
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}
