.about {
  width: 100%;
}

.about__container {
  @include container;
}

.about__title {
  @include small-title;
  margin: 0;
  padding-top: 36px;
  padding-bottom: 32px;
}

.about__list {
  @include list-norm;
  margin-bottom: 24px;
}

.about__item {
  @include bold-text;
  font-size: 17px;
  line-height: 20px;
  color: $text-dark;
  padding-top: 52px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.about__item--ecology {
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
  background-size: 48px 38px;
  background-position: left top;
  padding-right: 77px;
}

.about__item--scandinavian {
  background-image: url("../img/icon-feature-money.svg");
  background-repeat: no-repeat;
  background-size: 47px 27px;
  background-position: left top;
  padding-bottom: 34px;
  padding-top: 54px;
  padding-right: 51px;
}

.about__item--like {
  background-image: url("../img/icon-feature-heart.svg");
  background-repeat: no-repeat;
  background-size: 47px 27px;
  background-position: left top;
  padding-right: 77px;
}

.about__item--handmade {
  background-image: url("../img/icon-feature-ball.svg");
  background-repeat: no-repeat;
  background-size: 35px 34px;
  background-position: left top;
  padding-right: 63px;
}

.about__item--manufacturer {
  background-image: url("../img/icon-feature-rocket.svg");
  background-repeat: no-repeat;
  background-size: 54px 23px;
  background-position: -5px top;
}

.about__item--gift {
  background-image: url("../img/icon-feature-gift.svg");
  background-repeat: no-repeat;
  background-size: 39px 32px;
  background-position: left top;
  padding-right: 77px;
}

@media (min-width: $tablet) {
  .about__container {
    width: auto;
    max-width: 1150px;
    padding-left: 52px;
    padding-right: 53px;
    padding-top: 31px;
  }

  .about__title {
    @include tablet-title;
    padding-bottom: 48px;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 26px;
  }

  .about__item {
    font-size: 20px;
    line-height: 22px;
    width: 49%;
    padding-bottom: 58px;
  }

  .about__item--eco {
    padding-right: 110px;
  }

  .about__item--scandinavian {
    padding-right: 78px;
    order: 3;
  }

  .about__item--like {
    padding-right: 105px;
    order: 5;
  }

  .about__item--handmade {
    padding-right: 31px;
    order: 2;
  }

  .about__item--manufacturer {
    order: 4;
  }

  .about__item--gift {
    padding-right: 44px;
    order: 6;
  }
}

@media (min-width: $desktop) {
  .about__container {
    @include container--desktop;
    margin-top: 0;
    padding-top: 0;
  }

  .about__title {
    font-size: 53px;
    line-height: 57px;
    padding-left: 175px;
    padding-top: 17px;
  }

  .about__list {
    padding-left: 175px;
    width: 65%;
    margin-bottom: 32px;
  }

  .about__item--eco {
    padding-right: 119px;
  }

  .about__item--scandinavian {
    padding-right: 88px;
  }

  .about__item--like {
    padding-right: 115px;
  }

  .about__item--handmade {
    padding-right: 41px;
  }

  .about__item--gift {
    padding-right: 54px;
  }
}
