.assortment-list {
  @include list-norm;
  display: none;
}

.assortment-list__link {
  font-size: 15px;
  line-height: 24px;
  display: inline-block;
  color: $text-dark;
  padding-bottom: 32px;
  text-decoration: none;
}

@media (min-width: $desktop) {
  .assortment-list {
    display: flex;
    width: 42%;
    order: 4;
    margin-top: 20px;
    position: relative;
    z-index: 10;
  }

  .assortment-list__item {
    margin-right: 60px;
  }
}
