.copyright__text {
  @include bold-text;
  font-size: 19px;
  color: $text-dark;
  padding-right: 30px;
  padding-top: 5px;
}

.copyright__link {
  display: inline-block;
  align-items: center;
  font-size: 15px;
  min-width: 27px;
  min-height: 34px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-size: 27px 34px;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.copyright__link:hover {
  opacity: 1;
}

.copyright__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet) {
  .copyright__text {
    padding-right: 30px;
  }

  .copyright__link {
    font-size: 10px;
    padding-left: 13px;
  }
}

@media (min-width: $desktop) {
  .copyright__link--form,
  .copyright__link--index {
    padding-top: 15px;
  }

  .copyright__text {
    padding-right: 25px;
  }

  .copyright__text--catalog {
    padding-top: 5px;
  }

  .copyright__link {
    padding-left: 3px;
  }
}
