.form__field {
  border: none;
  padding-left: 0;
  margin: 0;
  padding-right: 0;
}

.form__title {
  @include bold-text;
  color: $accent-light;
  font-size: 17px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 25px;
}

.form__title::after {
  content: "";
  position: absolute;
  width: 77%;
  height: 1px;
  background-color: $accent-light;
  top: 50%;
  right: 0;
}

.form__title--checkbox {
  margin-bottom: 25px;
}

.form__title--email::after {
  display: none;
}

.form__title--email::before {
  content: "";
  position: absolute;
  width: 67%;
  height: 1px;
  background-color: $accent-light;
  top: 50%;
  right: 0;
}

.form__list {
  @include list-norm;
  margin-bottom: 10px;
}

.form__item {
  @include bold-text;
  font-size: 17px;
  line-height: 18px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-bottom: 0;
}

.form__checkbox-item,
.form__radio-item {
  padding-left: 65px;
  box-sizing: border-box;
  position: relative;
}

.form__checkbox-item {
  padding-bottom: 35px;
  padding-top: 8px;
}

.form__name-input {
  width: 260px;
  padding-top: 17px;
  padding-bottom: 18px;
  border: none;
  border-bottom: 2px solid $text-dark;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
  font-size: 17px;
  outline: none;

  &::placeholder {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 400;
    color: $text-color;
    font-size: 17px;
    opacity: 0.3;
  }

  &:hover,
  &:active,
  &:focus {
    border-bottom-color: $accent-light;
  }
}

.form__field--comment {
  padding: 0;
  margin-bottom: 18px;
}

.form__comment {
  border: 2px solid $text-dark;
  width: 260px;
  box-sizing: border-box;
  resize: vertical;
  min-height: 142px;
  padding-top: 18px;
  padding-left: 17px;
  padding-right: 17px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  color: $text-color;
  font-size: 17px;
  outline: none;

  &::placeholder {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 17px;
    opacity: 0.3;
    padding-right: 50px;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: $accent-light;
  }
}

.form__note {
  @include basic-text;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 10px;
}

.form__button {
  margin-bottom: 15px;
  width: 100%;
}

.form__item label {
  cursor: pointer;
}

.form__input-radio + label::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 38px;
  border: 2px solid $text-color;
  border-radius: 50%;
  left: 0;
  top: 4px;
}

.form__input-radio:hover + label::before,
.form__input-checkbox:hover + label::before,
.form__input-radio:focus + label::before,
.form__input-checkbox:focus + label::before, {
  border: 2px solid $form-accent;
}

.form__input-radio:active + label::before,
.form__input-checkbox:active + label::before {
  border-color: rgba(68, 68, 68, 0.3);
}

.form__input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: $form-accent;
  border-radius: 50%;
  left: 12px;
  top: 17px;
}

.form__input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 36px;
  border: 2px solid $text-color;
  left: 0;
  top: -3px;
}

.form__input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 22px 16px;
  left: 8px;
  top: 50%;
  margin-top: -21px;
}

fieldset.form__field {
  margin: 0;
  padding: 0;
}

.form__title--name {
  margin-top: 0;
  margin-bottom: 17px;
}

.form__item--name {
  margin-bottom: 10px;
  padding-bottom: 0;
  margin-top: 0;
  padding-top: 7px;
}

.form__field--phone,
.form__field--email {
  position: relative;
}

.form__name-phone,
.form__name-mail {
  position: absolute;
  bottom: 30px;
  right: 0;
  opacity: 0.2;
}

.form__name-mail {
  width: 32px;
  height: 32px;
}

.form__field--phone:hover .form__name-phone,
.form__field--phone:focus .form__name-phone,
.form__name-input--phone:focus + .form__name-phone,
.form__field--email:hover .form__name-mail,
.form__field--email:focus .form__name-mail,
.form__name-input--email:focus + .form__name-email, {
  fill: $form-accent;
  opacity: 1;
}

.form__name-input--phone,
.form__name-input--email {
  padding-top: 0;
  padding-bottom: 13px;
}

.form__title--email,
.form__title--comment {
  margin-bottom: 30px;
  margin-top: 25px;
}

@media (min-width: $tablet) {
  .main-form__container {
    width: auto;
    max-width: 1149px;
    margin: 0 auto;
  }

  .main-form__descr {
    margin-bottom: 10px;
  }

  .form__title {
    font-size: 17px;
    display: inline-block;
    margin: 0;
    margin-bottom: 50px;
    padding: 16px 0;
  }

  .form__item {
    font-size: 19px;
    padding: 16px 0;
    display: flex;
  }

  .form__checkbox-item,
  .form__radio-item {
    padding-left: 80px;
  }

  .form__radio-item {
    padding-bottom: 40px;
  }

  .form__wrapper {
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 0 52px;
    margin: 0;
    margin-top: 43px;
    max-width: 1149px;
    justify-content: space-between;
    align-items: baseline;
  }

  .form__list {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
  }

  .form__checkbox-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 23px;
  }

  .form__checkbox-item {
    width: 48%;
    padding-bottom: 45px;
  }

  .form__field--color,
  .form__field--phone,
  .form__field--email {
    background-color: $bgr-dark;
  }

  .form__wrapper--name {
    margin-bottom: 19px;
  }

  .form__wrapper-input .form__item:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  .form__wrapper-input {
    width: 75%;
    display: flex;
    flex-direction: column;
  }

  .form__name-input {
    margin-left: 26px;
    padding-top: 0;
    flex-grow: 1;
  }

  .form__name-input--phone,
  .form__name-input--email {
    background-color: $bgr-dark;
    margin-left: 0;
  }

  .form__wrapper .form__title,
  .form__wrapper .form__email {
    margin-bottom: 0;
  }

  .form__name-input--email {
    margin-bottom: 44px;
  }

  .form__comment {
    flex-grow: 1;
  }

  .form__title--comment,
  .form__title--phone {
    margin-right: 130px;
  }

  .form__title--email {
    margin-right: 107px;
  }

  .form__note {
    order: 2;
    font-size: 17px;
    line-height: 30px;
  }

  .form__button {
    margin-top: 15px;
    width: 34%;
  }

  .form__input-radio + label::before {
    width: 52px;
    height: 52px;
  }

  .form__input-radio:checked + label::after {
    width: 22px;
    height: 22px;
    left: 17px;
    top: 17px;
  }

  .form__input-checkbox + label::before {
    width: 54px;
    height: 52px;
  }

  .form__input-checkbox:checked + label::after {
    width: 33px;
    height: 22px;
    background-size: 33px 22px;
    left: 11px;
    top: 50%;
    margin-top: -20px;
  }

  .form__title::after,
  .form__title--email::before {
    display: none;
  }

  .form__name-phone,
  .form__name-mail {
    left: 87%;
    top: 57px;
  }

  .form__name-mail {
    top: 47px;
  }
}

@media (min-width: $desktop) {
  .main-form__container {
    width: auto;
    max-width: 1440px;
    margin: 0 auto;
  }

  .main-form__descr {
    margin-left: 175px;
    width: 60%;
    margin-bottom: 10px;
  }

  .form__checkbox-item {
    width: 33%;
  }

  .form__checkbox-item--white,
  .form__checkbox-item--black,
  .form__checkbox-item--pink,
  .form__checkbox-item--gray {
    width: 31%;
  }

  .form__checkbox-item--orange,
  .form__checkbox-item--tiffany {
    width: 34%;
  }

  .form__wrapper {
    padding: 0 227px 0 110px;
  }

  .form__wrapper-input {
    width: 85%;
  }

  .form__list {
    width: 86%;
  }

  .form__checkbox-list {
    width: 88%;
  }

  .form__wrapper--color {
    padding-right: 120px;
  }

  .form__title--email {
    margin-right: 58px;
  }

  .form__title--comment,
  .form__title--phone {
    margin-right: 81px;
  }

  .form__comment {
    margin-bottom: 40px;
  }

  .form__wrapper--button {
    width: 60.5%;
    margin: 0 auto;
    padding: 0;
  }

  .form__button {
    width: 33%;
  }

  .form__name-phone,
  .form__name-mail {
    left: 77%;
  }
}
