.main-nav {
  @include bold-text;
  color: $text-dark;
  line-height: 24px;
  font-size: 17px;
  width: 100%;
  margin: 0 auto;
}

.main-nav__hamb {
  display: none;
  width: 21px;
  height: 20px;
  border: none;
  background-color: $bgr-color;
  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;
  background-size: 21px 20px;
  background-position: center;
  position: absolute;
  top: 30px;
  right: 30px;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}

.main-nav__note {
  display: none;
  font-weight: 400;
}

@media (min-width: $tablet) {
  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .main-nav__note {
    display: inline-block;
    order: 5;
    font-size: 15px;
    padding-top: 0;
    margin: 0;
    position: relative;
    z-index: 10;
  }
}

@media (min-width: $desktop) {
  .main-nav__note {
    margin-top: 15px;
  }
}
