.main-form__descr {
  @include basic-text--small;
  width: 100%;
  margin-bottom: 4px;
}

.main-form__container {
  @include container;
}

@media (min-width: $tablet) {
  .main-form__container {
    width: auto;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .main-form__descr {
    padding-left: 52px;
    padding-right: 52px;
    font-size: 17px;
    line-height: 30px;
    width: 80%;
    margin-bottom: 16px;
  }
}

@media (min-width: $desktop) {
  .main-form__descr {
    width: 60%;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-left: 42px;
  }
}
