.modal {
  display: none;
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  opacity: 1;
}

.modal::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: $bgr-color;
  opacity: 0.9;
  z-index: 100;
}

.modal__container {
  display: block;
  box-sizing: border-box;
  width: 320px;
  background-color: $bgr-color;
  border: 1px solid rgba(0, 1, 1, 0.25);
  box-shadow: 0 3px 12px rgba(0, 1, 1, 0.25);
  margin: 0 auto;
  margin-bottom: 50px;
  position: fixed;
  top: 50%;
  margin-top: -242px;
  left: 50%;
  margin-left: -160px;
  z-index: 200;
  opacity: 1;
}

.modal__wrapper {
  @include container;
  display: flex;
  flex-direction: column;
}

.modal__title {
  @include small-title;
  color: $text-dark;
  width: 60%;
  text-transform: uppercase;
  text-align: center;
  align-self: center;
  margin-top: 40px;
}

.modal__descr {
  @include basic-text;
  line-height: 30px;
  color: $text-color;
  text-align: center;
}

.modal__list {
  @include bold-text;
  @include list-norm;
  font-size: 17px;
  color: $text-color;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal__item {
  padding: 20px 34px;
  position: relative;
  box-sizing: border-box;
  width: 30%;
  text-align: center;
}

.modal__item label {
  cursor: pointer;
}

.modal__input-radio + label::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 52px;
  border: 2px solid rgba(68, 68, 68, 0.1);
  left: 0;
  top: 0;
}

.modal__input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 52px;
  border: 2px solid $accent-light;
  left: 0;
  top: 0;
}

.modal__input-radio:hover + label::before {
  border: 2px solid rgba(68, 68, 68, 0.3);
}

.modal__input-radio:active + label::before {
  border: 2px solid $accent-light;
}

.modal__button {
  background-color: $accent-light;
  border-color: $accent-light;
  color: $bgr-color;
  margin-bottom: 46px;
  width: 100%;

  &:hover {
    background-color: $accent-dark;
    border-color: $accent-dark;
  }
}

@media (min-width: $tablet) {
  .modal__container {
    width: 566px;
    margin-left: -283px;
  }

  .modal__wrapper {
    padding-left: 100px;
    padding-right: 100px;
  }

  .modal__title {
    width: 100%;
    font-size: 30px;
    line-height: 57px;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .modal__descr {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .modal__list {
    align-self: center;
    width: 100%;
  }

  .modal__item {
    padding: 20px 52px;
  }

  .modal__button {
    align-self: center;
  }

  .modal__input-radio + label::before {
    content: "";
    width: 110px;
  }

  .modal__input-radio:checked + label::after {
    width: 110px;
  }
}
