.page-catalog__list {
  @include list-norm;
}

.page-catalog {
  @include container;
}

@media (min-width: $tablet) {
  .page-catalog {
    @include container--tablet;
  }
}

@media (min-width: $desktop) {
  .page-catalog {
    width: auto;
    max-width: 1150px;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
  }

  .page-catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 57px;
  }
}
