.page-catalog__list {
  @include list-norm;
}

.page-catalog {
  @include container;
}

@media (min-width: $tablet) {
  .page-catalog {
    @include container--tablet;
  }
}

@media (min-width: $desktop) {
  .page-catalog {
    @include container--desktop;
  }

  .page-catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 57px;
  }
}
