.product-item {
  border: 1px solid $border-color;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-item__link {
  @include bold-text;
  text-decoration: none;
  color: $text-dark;
}

.product-item__text {
  padding: 23px 27px 25px 27px;
  box-sizing: border-box;
}

.product-item__link-img picture {
  line-height: 0;
}

.product-item__title {
  box-sizing: border-box;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 7px;
  margin-top: 0;
  padding-right: 13px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product-item__descr {
  @include basic-text--small;
  margin-top: 0;
  margin-bottom: 27px;
}

.product-item__price {
  @include bold-text;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
}

.product-item__price-group {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  border-top: 1px solid $border-color;
}

.product-item__button {
  width: 27px;
  height: 20px;
  background-color: $bgr-color;
  border: none;
  outline: none;
}

.product-item__button-icon {
  opacity: 0.2;
}

.product-item__button-icon:hover {
  fill: $accent-light;
  opacity: 1;
}

.product-item__button-icon:active {
  fill: $accent-light;
  opacity: 0.3;
}

@media (min-width: $tablet) {
  .product-item {
    flex-direction: row;
    margin-bottom: 52px;
  }

  .product-item__title {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    padding-right: 52px;
  }

  .product-item__descr {
    font-size: 15px;
    line-height: 30px;
  }

  .product-item__price {
    font-size: 17px;
    line-height: 24px;
  }

  .product-item__link-img {
    width: 50%;
  }

  .product-item__text {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .product-item__link-title {
    width: 100%;
  }

  .product-item__price-group {
    margin-top: auto;
  }
}

@media (min-width: $desktop) {
  .product-item {
    flex-direction: column;
    width: 30%;
    margin-bottom: 0;
    justify-content: space-between;
    min-height: 659px;
  }

  .product-item__link {
    width: 100%;
  }

  .product-item__title {
    margin-bottom: 5px;
  }

  .product-item__descr {
    margin-bottom: 0;
  }

  .product-item__text {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    min-height: 192px;
    margin-top: auto;
    width: 100%;
  }

  .product-item__price-group {
    margin-top: auto;
    padding-top: 25px;
    border-top: 1px solid $border-color;
  }

  .product-item__link-img {
    height: auto;
    text-align: center;
  }

  .product-item__text:hover {
    box-shadow: 0 5px 15px $border-color;
  }

  .product-item__text:active {
    box-shadow: 0 5px 5px $border-color;
  }
}
