.search {
  padding-top: 27px;
  padding-bottom: 26px;
  border: 0;
  border-bottom: 1px solid $border-color;
  position: relative;
}

.search__input {
  border: 0;
  font-size: 17px;
  line-height: 24px;
  color: $text-dark;
  padding-left: 76px;
  outline: 0;
}

.search__input::placeholder {
  @include bold-text;
  font-size: 17px;
  line-height: 24px;
  color: $text-dark;
}

.search__icon {
  opacity: 0.2;
  position: absolute;
  left: 32px;
  top: 32px;
}

.search:hover .search__icon {
  fill: $accent-light;
  opacity: 1;
}

// .search:active .search__icon, как сделать опасити при фокусе
// .search__input:focus .search__icon {
//   opacity: 0.3;
// }

@media (min-width: $tablet) {
  .search {
    width: 82px;
    border-bottom: none;
    border-right: 1px solid $border-color;
    padding-bottom: 35px;
  }

  .search__input {
    width: 82px;
    padding-left: 35px;
  }

  .search__input::placeholder {
    font-size: 0;
  }

  .search__icon {
    left: 32px;
    top: 36px;
  }
}

@media (min-width: $desktop) {
  .search__icon {
    left: 25px;
  }

  .search {
    width: 83px;
    padding-bottom: 35px;
  }
}
