.social__list {
  @include list-norm;
  padding-top: 27px;
  padding-bottom: 21px;
  display: flex;
  width: 55%;
  justify-content: space-between;
  margin: 0 auto;
}

.social__icon:hover {
  fill: $icon-light;
}

.social__icon:active {
  opacity: 0.3;
}

@media (min-width: $tablet) {
  .social__list {
    padding: 0;
    width: 43%;
    margin: 0 auto;
  }
}

@media (min-width: $desktop) {
  .social__list {
    width: 20%;
  }
}
