.user-nav__list {
  @include list-norm;
}

.user-nav {
  order: 3;
}

@media (min-width: $tablet) {
  .user-nav {
    order: 2;
    display: flex;
  }

  .user-nav__list {
    display: flex;
    align-items: flex-start;
  }
}

@media (min-width: $desktop) {
  .user-nav {
    order: 3;
  }
}
